body{
    background-image: linear-gradient(to left,#034159,#025951,#02735E,#038C3E,#0CF25D);
   background-image: url(foto/fundo4.jpg);
   background-size: contain , cover;
   background-position: center;
   background-repeat: repeat-y repeat-x;
   background-attachment: fixed;
   max-height: 700vh;
   font-family: Arial, Helvetica, sans-serif;
   
}
main{
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    border-color: #00060D;
    margin: auto;
    background-color: white;
    width: 1000;
    padding: 10
}
h1{
    text-align: center;
}
h3{
    color: white;
    background-color: #2d2dfc;
    background-size: cover;
    background-position:center;
    border: #000000;
    box-shadow: 5px,5px,5px #00060D;
    text-align: center;
    border-radius: 15px;
    width: 1000px;
}
p{
    text-align: justify;
}
a{
    background-color: darkgray;
    color: red;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    
}
ul{
    background-color: darkgray;
    border-radius: 5px;
    border-color: #00060D;
    border-width: 5px;
    width: 50px;
    height: 60px;
    text-align: left;
}
a:hover{
    transition: 1s;
    color: #2d2dfc;
}
a:visited{
    color: purple;
}